langchain
langchain-community
langchain-core 
PyPDF
python-dotenv
faiss-cpu
sentence-transformers
langchain_huggingface
bs4
llama_index
llama-index-embeddings-huggingface
langchain_openai
langchain
langchain-community
langchain-core 
PyPDF
python-dotenv
faiss-cpu
sentence-transformers
langchain_huggingface
bs4
llama_index
llama-index-embeddings-huggingface
llama-index-embeddings-langchain
llama-index-llms-ollama
langchain-ollama
langchain_openai